<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts-wordcloud.min.js"></script>

</head>
<body >
    <div id="c0a0392178f54755951159224acc4930" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_c0a0392178f54755951159224acc4930 = echarts.init(
            document.getElementById('c0a0392178f54755951159224acc4930'), 'white', {renderer: 'canvas'});
        var option_c0a0392178f54755951159224acc4930 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u6c5f\u82cf",
                    "value": 33,
                    "textStyle": {
                        "color": "rgb(141,29,148)"
                    }
                },
                {
                    "name": " ",
                    "value": 883,
                    "textStyle": {
                        "color": "rgb(26,29,160)"
                    }
                },
                {
                    "name": "\u5317\u4eac",
                    "value": 276,
                    "textStyle": {
                        "color": "rgb(41,114,28)"
                    }
                },
                {
                    "name": "\u5b89\u5fbd",
                    "value": 20,
                    "textStyle": {
                        "color": "rgb(114,109,112)"
                    }
                },
                {
                    "name": "\u6e56\u5317",
                    "value": 19,
                    "textStyle": {
                        "color": "rgb(84,118,119)"
                    }
                },
                {
                    "name": "\u5e7f\u4e1c",
                    "value": 92,
                    "textStyle": {
                        "color": "rgb(102,156,33)"
                    }
                },
                {
                    "name": "\u5c71\u4e1c",
                    "value": 10,
                    "textStyle": {
                        "color": "rgb(152,107,23)"
                    }
                },
                {
                    "name": "\u4e0a\u6d77",
                    "value": 279,
                    "textStyle": {
                        "color": "rgb(41,11,140)"
                    }
                },
                {
                    "name": "\u6e56\u5357",
                    "value": 12,
                    "textStyle": {
                        "color": "rgb(62,9,101)"
                    }
                },
                {
                    "name": "\u6d59\u6c5f",
                    "value": 46,
                    "textStyle": {
                        "color": "rgb(139,2,56)"
                    }
                },
                {
                    "name": "\u6cb3\u5317",
                    "value": 10,
                    "textStyle": {
                        "color": "rgb(48,3,146)"
                    }
                },
                {
                    "name": "\u56db\u5ddd",
                    "value": 34,
                    "textStyle": {
                        "color": "rgb(137,150,101)"
                    }
                },
                {
                    "name": "\u5176\u5b83",
                    "value": 20,
                    "textStyle": {
                        "color": "rgb(32,107,113)"
                    }
                },
                {
                    "name": "\u5929\u6d25",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(141,2,2)"
                    }
                },
                {
                    "name": "\u5c71\u897f",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(58,31,78)"
                    }
                },
                {
                    "name": "\u6cb3\u5357",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(128,92,8)"
                    }
                },
                {
                    "name": "\u6c5f\u897f",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(95,17,113)"
                    }
                },
                {
                    "name": "\u91cd\u5e86",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(141,88,21)"
                    }
                },
                {
                    "name": "\u5e7f\u897f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(138,121,56)"
                    }
                },
                {
                    "name": "\u8fbd\u5b81",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(101,65,76)"
                    }
                },
                {
                    "name": "\u9655\u897f",
                    "value": 6,
                    "textStyle": {
                        "color": "rgb(160,31,74)"
                    }
                },
                {
                    "name": "\u798f\u5efa",
                    "value": 2,
                    "textStyle": {
                        "color": "rgb(94,50,157)"
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u7701\u4efd\u4f18\u5148\u8003\u8651",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_c0a0392178f54755951159224acc4930.setOption(option_c0a0392178f54755951159224acc4930);
    </script>
</body>
</html>
