<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="6b72c589642e459b887b9862ee4616e7" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_6b72c589642e459b887b9862ee4616e7 = echarts.init(
            document.getElementById('6b72c589642e459b887b9862ee4616e7'), 'white', {renderer: 'canvas'});
        var option_6b72c589642e459b887b9862ee4616e7 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "legendHoverLink": true,
            "data": [
                105,
                75,
                67,
                64,
                53,
                44,
                39,
                37,
                35,
                31,
                28,
                26,
                24,
                24,
                21,
                18,
                18,
                17,
                14,
                13,
                13,
                12,
                11,
                11,
                11,
                10,
                8,
                7,
                7,
                5,
                5,
                5,
                4,
                4,
                3,
                3,
                2,
                2,
                1,
                1,
                1,
                1,
                1,
                1,
                1,
                1
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "rotate": -45,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "150-200/\u5929",
                "120-150/\u5929",
                "100-150/\u5929",
                "150-180/\u5929",
                "200-300/\u5929",
                "200-250/\u5929",
                "250-300/\u5929",
                "150-300/\u5929",
                "150/\u5929",
                "200-400/\u5929",
                "150-250/\u5929",
                "200/\u5929",
                "120-200/\u5929",
                "100-200/\u5929",
                "120-180/\u5929",
                "180-250/\u5929",
                "100-120/\u5929",
                "180-200/\u5929",
                "80-120/\u5929",
                "100/\u5929",
                "300-400/\u5929",
                "\u85aa\u8d44\u9762\u8bae",
                "80-100/\u5929",
                "300-500/\u5929",
                "120/\u5929",
                "180/\u5929",
                "180-300/\u5929",
                "250-400/\u5929",
                "80-150/\u5929",
                "300/\u5929",
                "50-100/\u5929",
                "400-500/\u5929",
                "400-800/\u5929",
                "50-80/\u5929",
                "250-500/\u5929",
                "250/\u5929",
                "100-180/\u5929",
                "136-227/\u5929",
                "120-140/\u5929",
                "318-363/\u5929",
                "181-363/\u5929",
                "800-1000/\u5929",
                "181-272/\u5929",
                "500-800/\u5929",
                "49-50/\u5929",
                "227-272/\u5929"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "Count",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u5de5\u8d44\u5206\u5e03",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_6b72c589642e459b887b9862ee4616e7.setOption(option_6b72c589642e459b887b9862ee4616e7);
    </script>
</body>
</html>
