<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts-wordcloud.min.js"></script>

</head>
<body >
    <div id="d5264ef633654741952d8865d6fb6410" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_d5264ef633654741952d8865d6fb6410 = echarts.init(
            document.getElementById('d5264ef633654741952d8865d6fb6410'), 'white', {renderer: 'canvas'});
        var option_d5264ef633654741952d8865d6fb6410 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u4e92\u8054\u7f51",
                    "value": 491,
                    "textStyle": {
                        "color": "rgb(29,156,47)"
                    }
                },
                {
                    "name": "/",
                    "value": 1877,
                    "textStyle": {
                        "color": "rgb(120,140,80)"
                    }
                },
                {
                    "name": "\u6e38\u620f",
                    "value": 489,
                    "textStyle": {
                        "color": "rgb(47,43,93)"
                    }
                },
                {
                    "name": "\u8f6f\u4ef6",
                    "value": 489,
                    "textStyle": {
                        "color": "rgb(158,0,20)"
                    }
                },
                {
                    "name": " ",
                    "value": 883,
                    "textStyle": {
                        "color": "rgb(151,156,109)"
                    }
                },
                {
                    "name": "\u91d1\u878d",
                    "value": 104,
                    "textStyle": {
                        "color": "rgb(126,133,33)"
                    }
                },
                {
                    "name": "\u7ecf\u6d4e",
                    "value": 104,
                    "textStyle": {
                        "color": "rgb(7,46,127)"
                    }
                },
                {
                    "name": "\u6295\u8d44",
                    "value": 104,
                    "textStyle": {
                        "color": "rgb(109,34,92)"
                    }
                },
                {
                    "name": "\u8d22\u4f1a",
                    "value": 104,
                    "textStyle": {
                        "color": "rgb(94,11,40)"
                    }
                },
                {
                    "name": "\u6c7d\u8f66",
                    "value": 67,
                    "textStyle": {
                        "color": "rgb(91,36,55)"
                    }
                },
                {
                    "name": "\u673a\u68b0",
                    "value": 67,
                    "textStyle": {
                        "color": "rgb(30,2,44)"
                    }
                },
                {
                    "name": "\u5236\u9020",
                    "value": 67,
                    "textStyle": {
                        "color": "rgb(146,103,97)"
                    }
                },
                {
                    "name": "\u7535\u5b50",
                    "value": 41,
                    "textStyle": {
                        "color": "rgb(52,149,11)"
                    }
                },
                {
                    "name": "\u901a\u4fe1",
                    "value": 41,
                    "textStyle": {
                        "color": "rgb(139,114,49)"
                    }
                },
                {
                    "name": "\u786c\u4ef6",
                    "value": 41,
                    "textStyle": {
                        "color": "rgb(142,75,12)"
                    }
                },
                {
                    "name": "\u533b\u7597",
                    "value": 32,
                    "textStyle": {
                        "color": "rgb(129,57,148)"
                    }
                },
                {
                    "name": "\u5065\u5eb7",
                    "value": 32,
                    "textStyle": {
                        "color": "rgb(0,154,98)"
                    }
                },
                {
                    "name": "\u5236\u836f",
                    "value": 33,
                    "textStyle": {
                        "color": "rgb(19,136,40)"
                    }
                },
                {
                    "name": "\u751f\u7269",
                    "value": 32,
                    "textStyle": {
                        "color": "rgb(129,103,89)"
                    }
                },
                {
                    "name": "\u4ea4\u901a",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(71,97,47)"
                    }
                },
                {
                    "name": "\u8d38\u6613",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(105,111,121)"
                    }
                },
                {
                    "name": "\u7269\u6d41",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(2,58,1)"
                    }
                },
                {
                    "name": "\u516c\u5171\u4e8b\u4e1a",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(100,147,83)"
                    }
                },
                {
                    "name": "NGO",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(48,109,39)"
                    }
                },
                {
                    "name": "\u653f\u5e9c",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(30,7,54)"
                    }
                },
                {
                    "name": "\u4f01\u4e1a",
                    "value": 49,
                    "textStyle": {
                        "color": "rgb(122,55,143)"
                    }
                },
                {
                    "name": "\u670d\u52a1",
                    "value": 49,
                    "textStyle": {
                        "color": "rgb(57,84,35)"
                    }
                },
                {
                    "name": "\u54a8\u8be2",
                    "value": 49,
                    "textStyle": {
                        "color": "rgb(145,26,151)"
                    }
                },
                {
                    "name": "\u6559\u80b2",
                    "value": 23,
                    "textStyle": {
                        "color": "rgb(85,104,140)"
                    }
                },
                {
                    "name": "\u57f9\u8bad",
                    "value": 23,
                    "textStyle": {
                        "color": "rgb(35,8,156)"
                    }
                },
                {
                    "name": "\u4e0d",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(88,54,135)"
                    }
                },
                {
                    "name": "\u9650",
                    "value": 3,
                    "textStyle": {
                        "color": "rgb(41,65,112)"
                    }
                },
                {
                    "name": "\u623f\u4ea7",
                    "value": 12,
                    "textStyle": {
                        "color": "rgb(153,44,38)"
                    }
                },
                {
                    "name": "\u5bb6\u5c45",
                    "value": 12,
                    "textStyle": {
                        "color": "rgb(95,133,55)"
                    }
                },
                {
                    "name": "\u7269\u4e1a",
                    "value": 12,
                    "textStyle": {
                        "color": "rgb(65,100,84)"
                    }
                },
                {
                    "name": "\u5efa\u7b51",
                    "value": 12,
                    "textStyle": {
                        "color": "rgb(109,62,102)"
                    }
                },
                {
                    "name": "\u5feb\u6d88",
                    "value": 14,
                    "textStyle": {
                        "color": "rgb(41,84,152)"
                    }
                },
                {
                    "name": "\u767e\u8d27",
                    "value": 14,
                    "textStyle": {
                        "color": "rgb(149,0,109)"
                    }
                },
                {
                    "name": "\u6279\u53d1",
                    "value": 14,
                    "textStyle": {
                        "color": "rgb(74,118,109)"
                    }
                },
                {
                    "name": "\u96f6\u552e",
                    "value": 14,
                    "textStyle": {
                        "color": "rgb(86,109,105)"
                    }
                },
                {
                    "name": "\u751f\u7269\u5de5\u7a0b",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(118,63,78)"
                    }
                },
                {
                    "name": "\u5e7f\u544a",
                    "value": 27,
                    "textStyle": {
                        "color": "rgb(135,121,160)"
                    }
                },
                {
                    "name": "\u4f20\u5a92",
                    "value": 27,
                    "textStyle": {
                        "color": "rgb(100,156,122)"
                    }
                },
                {
                    "name": "\u516c\u5173",
                    "value": 27,
                    "textStyle": {
                        "color": "rgb(136,66,135)"
                    }
                },
                {
                    "name": "\u5c55\u89c8",
                    "value": 27,
                    "textStyle": {
                        "color": "rgb(86,61,75)"
                    }
                },
                {
                    "name": "\u5b66\u672f",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(41,87,120)"
                    }
                },
                {
                    "name": "\u79d1\u7814",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(14,39,38)"
                    }
                },
                {
                    "name": "\u9662\u6821",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(145,154,18)"
                    }
                },
                {
                    "name": "\u519c\u6797\u7267\u6e14",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(133,148,137)"
                    }
                },
                {
                    "name": "\u5176\u4ed6",
                    "value": 4,
                    "textStyle": {
                        "color": "rgb(81,20,72)"
                    }
                },
                {
                    "name": "\u5316\u5de5",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(50,48,26)"
                    }
                },
                {
                    "name": "\u80fd\u6e90",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(157,148,74)"
                    }
                },
                {
                    "name": "\u73af\u4fdd",
                    "value": 7,
                    "textStyle": {
                        "color": "rgb(44,49,130)"
                    }
                },
                {
                    "name": "\u79fb\u52a8",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(157,11,117)"
                    }
                },
                {
                    "name": "\u7535\u5b50\u5546\u52a1",
                    "value": 1,
                    "textStyle": {
                        "color": "rgb(62,81,154)"
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u6240\u5c5e\u884c\u4e1a\u5206\u5e03",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_d5264ef633654741952d8865d6fb6410.setOption(option_d5264ef633654741952d8865d6fb6410);
    </script>
</body>
</html>
